# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Editor directories
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Vite
*.local

# TypeScript
*.tsbuildinfo

# Testing
coverage/

git remote add origin https://github.com/shahirun-x/the-weekend-ceo.git
